extends layout

block content
  div#roomcol
    ul(id="rooms")
      each val in rooms
        unless val.private
          li
            a(class="room_link", id=val.name, href="javascript:void(0)") #{val.name} (#{val.users.length})
  div#infocol
    div#roominfo
  script(src="/js/catalog.js")