doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    link(rel="stylesheet", href="/css/main.css")
  body
    div(id="header")
      a(href="/catalog")
        p &#9760; BLOODY HELL &#9760;
    div(id="nav")
      a(href="/catalog", id="homelink") Catalog
      span(id="navmenu")
        a(href="/room/create") Create room
        a(href="/user/registration") Register
        a(href="/user/login") Log in
        a(href="/user/logout") Log out
        if (typeof(user) !== 'undefined')
          span#loggedmes Welcome, #{user.username}!
    div(id="content")
      div#crow
        block content

    div(id="footer") 
      hr
      