p Name: #{name}
p Info: #{info}

form(action="/room/join/" + name, method="POST")
  p Username: 
    input#username(type="text", name="username", required="true")
  if password
    p Room password: 
      input#password(type="password", name="password", required="true")
  p
    input(type="submit", value="Join")
