body {
    background-color: #000000;
    color: #FF9999;
}

a {color: #DD0000; text-decoration: none;}
a:visited {color:#DD0000;}
a:hover {color:#FF0000;}

input, textarea {
    background-color: #FFBBBB;
}

#nav {
    font-size: 13pt;
}
#nav a {
    padding-left: 1em;
    font-size:1em;
}

#header {
    margin-left: 3%;
    font-size: 1.5em;
    color: #DD9999;
}

#header a {
    color:#FF9999;
}

#loggedmes {
    margin-left: 2em;
}

#menu {
    /*padding-left: 3%;
    padding-top: 4px;
    position: absolute;*/
    float:left;
    z-index: 1;
    background-color: #000;
}

#menu a, #menu form {
    display: block;
    margin-top:0;
    border: 1px solid #DD0000;
    padding: 4px;
}

#menu::after {
    content: "";
    clear: both;
    display: table;
}

#rooms {
    float: left;
    padding-left: 2%;
    word-break: break-all;
}

#content {
    margin-top: 2%;
}

#infocol {
    float: left;
    width: 80%;
}

#roomcol {
    float: left;
    width: 20%;
}

#onlinecol {
    float: left;
    width: 22%;
}

#mescol {
    float: left;
    width: 78%;
}

#crow {
    padding-left: 4%;
}

#crow:after {
    content: "";
    display: table;
    clear: both;
}

#navmenu {
    display: inline-block;
}

#info {
    margin: 3%;
}

#roominfo {
    margin-left: 3%;
}

#message {
    width:85%;
}

#sendform {
    margin: 2%;
}

#sendmessage {
    margin-left: 2%;
}

#messages {
    height: 250px;
    overflow: auto;
    margin: 2%;
    margin-right: 4%;
    border: 0.5px solid #D00;
}

#messages div {
    padding: 0.3em;
    padding-left: 1em;
    border: 0.5px solid #D00;
    background-color: #300000;
}

.registered_user {
    color: purple;
}

#footer {
    text-align: center;
}
